{{define "content"}}

<div class="container">
    <div class="">
        <div class="text-center">
            <div class="widget widget_sentence">
                <ul>
                    {{range .tags}}
                    <li><a style={{tagStyle .Count}} href="/?tag_id={{.Id}}">{{.Name}} <span
                            class="badge">{{.Count}}</span></a></li>
                    {{end}}
                </ul>
            </div>

        </div>
    </div>
    {{template "heatmap" .}}

</div>
<div style="height: 400px;"></div>


{{end}}
